/* https://cssgradient.io/gradient-backgrounds/ */

#root {
  display: flex;
  flex-direction: column;
}

html {
  background-image: linear-gradient(135deg, #2afadf 10%, #4c83ff 100%);
  min-height: 100%;
  padding-right: 0;
}

.navContain {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.aboutMe {
  background-image: linear-gradient(135deg, #2afadf 10%, #4c83ff 100%);
  max-height: 300px;
  min-height: 300px;
  overflow: scroll;
}

.pages {
  background-image: linear-gradient(135deg, #2afadf 10%, #4c83ff 100%);
}

h3 {
  padding-bottom: 12px;
  text-align: center;
}

p {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  min-height: 100%;
}

.aboutPara {
  align-self: flex-start;
  padding: 15px 15px;
  max-height: 300px;
}

.cardImg {
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}

.myImg {
  border-radius: 20px;
  padding: 15px 15px;
  max-height: 270px;
  max-width: 270px;
  /* min-width: 255px; */
}

.contactForm {
  background-color: #e0e1dd;
  border-radius: 15px;
}

.formDiv {
  background-image: linear-gradient(135deg, #2afadf 10%, #4c83ff 100%);
}

.logoContain {
  background-image: linear-gradient(135deg, #2afadf 10%, #4c83ff 100%);
  min-width: 100%;
  /* min-height: 675px; */
}

.logoRow {
  display: flex;
  width: 100%;
  margin: auto;
  min-height: 725px;
  justify-content: space-evenly;
}

.logoCol {
  overflow: scroll;
  min-width: 350px;
  border: 1px solid black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.logoBlocks {
  display: block;
  position: relative;
  font-size: 5rem;
}

#futureStudy {
  text-align: center;
}

.htmlLogo {
  position: absolute;
  top: 15%;
  left: 15%;
}

.cssLogo {
  position: absolute;
  top: 0px;
  right: 15%;
}

.jsLogo {
  position: absolute;
  top: 120px;
  right: 40%;
  font-size: 4.5rem;
}

.tsLogo {
  position: absolute;
  top: 240px;
  left: 10%;
  font-size: 4.5rem;
}

.mongoLogo {
  position: absolute;
  top: 190px;
  right: 10%;
  font-size: 5rem;
}

.mysqlLogo {
  position: absolute;
  top: 260px;
  right: 10%;
  font-size: 5rem;
}

.bootstrapLogo {
  position: absolute;
  top: 365px;
  left: 30%;
  font-size: 4.5rem;
}

.gitLogo {
  position: absolute;
  top: 240px;
  left: 10%;
  font-size: 4.5rem;
}

.nodeLogo {
  position: absolute;
  top: 435px;
  right: 25%;
  font-size: 5rem;
}

.kotlinLogo {
  position: absolute;
}

/*All credit for the following code goes to Bhoot Biswas https://stackoverflow.com/posts/42115371/revisions */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
