/* https://cssgradient.io/gradient-backgrounds/ */
html,
.pages {
  background-image: linear-gradient(135deg, #2afadf 10%, #4c83ff 100%);
}

.aboutMe {
  background-image: linear-gradient(135deg, #2afadf 10%, #4c83ff 100%);
  display: inline-flex;
  justify-content: flex-start;
  position: relative;
  max-height: 300px;
  font-size: 1.07vw;
}

p {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}

.cardImg {
  height: 15vw;
  object-fit: cover;
}

.myImg {
  width: 250px;
  max-height: 265px;
  border-radius: 20px;
  padding: 15px 15px;
}
